.h-btn {
    display: flex;
    align-items: center;
    background-color: #8E8741;
    border-radius: 4px;
    height: 40px;
    color: #ffffff;
    padding: 0 24px;
    text-align: center;
    min-width: 100px;
    border: unset;
    cursor: pointer;
}

.h-btn:hover {
    background-color: #7c730d;
}

.h-btn:active {
    background-color: #7c730d;
}


/* Button cancel no background */

.h-btn-cancel {
    background: none !important;
    color: #000000;
}

.h-btn-cancel:hover {
    background-color: #BBBBBB!important;
}