#contentQuanLiMaTinh {
    display: grid;
    grid-gap: 50px;

    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
}

/*Quản lí Mã Tỉnh*/
#tableDSTinh {
    position: absolute;
    left: 23%;

    grid-row: 5/13;
}
#adver {
    grid-row: 1/5;
    position: absolute;
    top: 15%;
    left: 23%;

    display: table;

    vertical-align: middle;

    height: 181px;
    width: 1089px;

    background-color: rgba(3,82,134);
    opacity: 47%;
}
#adver div {
    display: table-cell;
    vertical-align: middle;
}
#adver p{
    color: white;
    font-size: 36px;

}

/*Bảng dữ liệu*/
.danh-sach-tinh-thanh-pho {
    position: absolute;
    width: 1091px;
    font-size: 17px;

}
div.title{
    background-color: #1C204D;
    width: 1091px;
    height: 50px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

}
div.title p {
    padding-left: 1%;
    font-size: 19px;
}

tr.title th {
    border: none;
}

.danh-sach-tinh-thanh-pho tr.head{
    background-color: #FFDA59;
    ;
    height: 48px;
    text-align: center;
    color: #030B56;
}
.danh-sach-tinh-thanh-pho tr.information {
    background-color: white;
    height: 48px;
    text-align: center;    
}
.danh-sach-tinh-thanh-pho tr.information button.detail {
    background-color: white;
    color: black;
    border: none;
}
.danh-sach-tinh-thanh-pho tr.information button.detail:hover {
    cursor: pointer;
}

/*Các nút button detail hay cấp quyền...*/
.btn {
    height: 30px;
    width: 100px;
 
    border-radius: 5px;
    border: none;
 
    color: white;
 }
 .btnIn {
     position: absolute;
     top: 27%;
     right: 10px;
 }
 .btn:hover {
     cursor: pointer;
 }
 .title button {
    height: 30px;
    width: 130px;

    border-radius: 5px;
    border: none;

    color: white;
    background-color: #8E8741;
}
.title button:hover {
    cursor: pointer;
    background-color: yellow;
}