#contentQuanLiDanSo {
    display: grid;
    grid-gap: 50px;

    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
}


/*Biểu đồ phân tích dữ liệu*/
#chart {
    grid-row: 1/6;

    background-color: white;
    height:324px;
    width: 1088px;

    margin-left: 10%;

    border:1.5px solid #035286;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

#contentDS {
    grid-row: 6/13;
    margin-left: 10%;
}

/*Quản lí Dân số*/
#cuongDoCapNhat {
    position: absolute;
    left: 23%;
    height: 80px;
}
/*Bảng dữ liệu*/
.danh-sach-tinh-thanh-pho {
    position: absolute;
    width: 1091px;
    font-size: 17px;

}
div.title{
    background-color: #1C204D;
    width: 1091px;
    height: 50px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

}
div.title p {
    padding-left: 1%;
    font-size: 19px;
}

tr.title th {
    border: none;
}

.danh-sach-tinh-thanh-pho tr.head{
    background-color: #FFDA59;
    ;
    height: 48px;
    text-align: center;
    color: #030B56;
}
.danh-sach-tinh-thanh-pho tr.information {
    background-color: white;
    height: 48px;
    text-align: center;    
}
.danh-sach-tinh-thanh-pho tr.information button.detail {
    background-color: white;
    color: black;
    border: none;
}
.danh-sach-tinh-thanh-pho tr.information button.detail:hover {
    cursor: pointer;
}